amqp==5.0.9
certifi==2021.10.8
charset-normalizer==2.0.10
dnspython==1.16.0
eventlet==0.33.0
greenlet==1.1.2
idna==3.3
kombu==5.2.3
mock==4.0.3
nameko==2.14.1
nameko-structlog==0.2.2
packaging==21.3
path==16.3.0
path.py==12.5.0
pyparsing==3.0.7
PyYAML==6.0
requests==2.27.1
structlog==21.5.0
six==1.16.0
urllib3==1.26.8
vine==5.0.0
Werkzeug==2.0.2
wrapt==1.13.3
